/* =======================
Contents:
  1. Resets
  2. Global styles
  3. Welcome screen
  4. Navs
  5. Recipe list
  6. Recipe view
  7. Recipe form
  8. Media queries
=======================*/



/* =======================
1. Resets
=======================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
main {
  height: 100vh;
}

a {
  font-weight: bold;
}



/* =======================
2. Global styles
=======================*/

body {
  font: normal 16px Raleway, sans-serif;
  line-height: 1.5;
}

.container {
  height: 100%;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

section {
  margin: 1.5rem;
}

.btn {
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font: bold 1rem Raleway, sans-serif;
  padding: 0.5rem;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn > a {
  text-decoration: none;
}

.btn--primary {
  background-color: #FFC107;
  border-bottom-color: #d19f07;
  color: #fff;
}

.btn--primary > a {
  color: #fff;
}

.btn--secondary {
  background-color: #BDBDBD;
  border-bottom-color: #757575;
  color: #404040;
}

.btn--secondary > a {
  color: #404040;
}


/* =======================
3. Welcome screen
=======================*/

.welcome {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/glass-467825_1920.jpg') fixed center center no-repeat;
  background-size: cover;
  height: 100%;
  padding: 1rem;
}

.welcome__page-header {
  color: #fff;
  font: bold 3rem Lobster, cursive;
  margin: 1.5rem auto 3.5rem;
  text-align: center;
}

.welcome__authentication-button-container {
  margin: 6rem auto 0;
}

.welcome__authentication-button-container,
.authentication-form {
  max-width: 350px;
  width: 90%;
}

.welcome__authentication-button-container a {
  text-decoration: none;
}

.welcome__authentication-button-container button {
  margin: 0.5rem auto;
  width: 100%;
}

.authentication-form {
  animation-name: authentication-slideup;
  animation-duration: 0.5s;
  margin: 0 auto;
}

@keyframes authentication-slideup {
  0% {
    opacity: 0;
    padding-top: 20%;
  }
  100% {
    opacity: 1;
    padding-top: 0;
  }
}

.authentication-form__header {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.authentication-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.authentication-form__first-input {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #BDBDBD;
}

.authentication-form__middle-input {
  border-bottom: 1px solid #BDBDBD;
  border-radius: 0;
}

.authentication-form__last-input {
  border-bottom: none;
  border-radius: 0 0 5px 5px;
}

.authentication-form__submit {
  margin-top: 0.5rem;
}

/*Change placeholder text color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BDBDBD;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BDBDBD;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BDBDBD;
}
:-moz-placeholder { /* Firefox 18- */
  color: #BDBDBD;
}

.welcome__authentication-toggle-text {
  color: #BDBDBD;
  margin: 1.5rem auto;
  text-align: center;
}

.welcome__authentication-toggle-text a {
  color: #fff;
}



/* =======================
4. Navs
=======================*/

.top-nav {
  background-color: #009688;
  border-bottom: 2px solid #BDBDBD;
}

.top-nav__brand {
  font: bold 2rem Lobster, sans-serif;
  color: #fff;
  padding: 0.75rem;
  text-align: center;
}

.top-nav__sub-nav {
  background-color: #00796B;
  text-align: center;
}

.top-nav__sub-nav a {
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}



/* =======================
5. Recipe list
=======================*/

.recipes {
  max-width: 700px;
  margin: 1rem auto;
  text-align: center;
}

.recipes__recipe-card {
  border: 2px solid #757575;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin: 2%;
  position: relative;
  width: 45%;
}

.recipes__recipe-card a {
  text-decoration: none;
}

.recipes__recipe-card__image {
  background: linear-gradient( rgba(255, 193, 7, 0.5), rgba(255, 193, 7, 0.5) ), url('../images/mason-jar-drawing.png') center center no-repeat;
  background-size: cover;
  border-radius: 3px 3px 0 0;
  height: 10rem;
  width: 100%;
}

.recipes__recipe-card__name-and-user {
  background-color: #EEEEEE;
  border-top: 2px solid #757575;
  border-radius: 0 0 3px 3px;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.recipes__recipe-card__name-and-user .recipe-title,
.recipes__recipe-card__name-and-user .username {
  color: #000;
  font-size: 0.875rem;
  text-align: left;
  transition: color 0.2s ease-in-out;
}

.recipes__recipe-card__name-and-user .recipe-title {
  font-weight: bold;
}

.recipes__recipe-card__name-and-user .username {
  font-weight: normal;
}

.new-recipe-button {
  background-color: #fff;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  color: #757575;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3.25rem;
  width: 3.25rem;
  padding: 0.5rem;
}



/* =======================
6. Recipe view
=======================*/

.recipe-view__author a {
  color: #00796B;
  transition: color 0.2s ease-in-out;
}

.ingredients-header {
  margin-top: 1rem;
}

.ingredients-list {
  list-style: none;
}

.update-delete-buttons {
  margin-top: 2rem;
}

.update-delete-buttons a {
  text-decoration: none;
}

.update-delete-buttons button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 100%;
  max-width: 20rem;
}



/* =======================
7. Recipe form
=======================*/

.new-recipe-form {
  width: 90%;
  margin: 0 auto;
}

.new-recipe-form__input {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 20rem;
  -webkit-appearance: none;
}

.new-recipe-form__submit,
.new-recipe-form__cancel {
  display: inline-block;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 20rem;
}



/* =======================
8. Media queries
=======================*/

@media (min-width: 710px) {
  section {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
}

@media (min-width: 321px) {
  .new-recipe-form__submit {
    margin-right: 2%;
  }

  .new-recipe-form__submit,
  .new-recipe-form__cancel {
    width: 49%;
  }
}

@media (min-width: 600px) {
  .recipes__recipe-card {
    width: 29.33%
  }
}

@media (min-width: 700px) {
  .recipes__recipe-card {
    width: 21%
  }
}

@media (min-width: 769px) {
  .top-nav__sub-nav a:hover,
  .top-nav__sub-nav a.selected {
    background-color: #fff;
    color: #00796B;
  }

  .recipes__recipe-card:hover .recipes__recipe-card__name-and-user {
    background-color: #757575;
  }

  .recipes__recipe-card:hover .recipe-title,
  .recipes__recipe-card:hover .username {
    color: #fff;
  }

  .new-recipe-button:hover {
    background-color: #FFC107;
    border-color: #FFC107;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }

  .recipe-view__author a:hover {
    color: #FFC107;
  }
}
