/* =======================
Contents:
  1. Resets
  2. Global styles
  3. Welcome screen
  Media queries
=======================*/



/* =======================
1. Resets
=======================*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

a {
  font-weight: bold;
}



/* =======================
2. Global styles
=======================*/

body {
  font: normal 16px Raleway, sans-serif;
}

.container {
  padding: 1rem;
}

.btn {
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  font: bold 1rem Raleway, sans-serif;
  padding: 0.5rem;
  text-decoration: none;
}

.btn > a {
  text-decoration: none;
}

.btn--primary {
  background-color: #FFC107;
  border-bottom-color: #d19f07;
  color: #fff;
}

.btn--primary > a {
  color: #fff;
}

.btn--secondary {
  background-color: #BDBDBD;
  border-bottom-color: #757575;
  color: #404040;
}

.btn--secondary > a {
  color: #404040;
}


/* =======================
3. Welcome screen
=======================*/

.welcome {
  background-color: #00796B;
  height: 100%;
}

.welcome__page-header {
  color: #fff;
  font: bold 3rem Lobster, cursive;
  margin: 1.5rem auto 3.5rem;
  text-align: center;
}

.welcome__authentication-button-container {
  margin: 6rem auto 0;
}

.welcome__authentication-button-container,
.authentication-form {
  max-width: 350px;
  width: 90%;
}

.welcome__authentication-button-container button {
  margin: 0.5rem auto;
  width: 100%;
}

.authentication-form {
  animation-name: authentication-slideup;
  animation-duration: 1s;
  animation-delay: 1s;
  margin: 0 auto;
}

@keyframes authentication-slideup {
  0% {
    opacity: 0;
    padding-top: 100%;
  }
  100% {
    opacity: 1;
    padding-top: 0;
  }
}

.authentication-form__header {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.authentication-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.authentication-form__email-input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #BDBDBD;
}

.authentication-form__password-input {
  border-bottom: 1px solid #BDBDBD;
}

.authentication-form__username-input {
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.authentication-form__submit {
  margin-top: 0.5rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BDBDBD;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #BDBDBD;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #BDBDBD;
}
:-moz-placeholder { /* Firefox 18- */
  color: #BDBDBD;
}

.welcome__authentication-toggle-text {
  color: #BDBDBD;
  margin: 1.5rem auto;
  text-align: center;
}

.welcome__authentication-toggle-text a {
  color: #fff;
}



/* =======================
# Media queries
=======================*/
